


{{!-- hero/head image --}}
<div class="hero-head">
    <div class="heading-styles">
        <h1>KSL Jobs Scraper</h1>
        <h2>We help you find you a job!</h2>
        <p>Click on the button below for the job you would like to scrape.</p>
        <p>Then refresh the page.</p>
    </div>

    <div class="job-search-buttons">
        <button class="scraper-button"><a href="/jobs/new/fullStackDev">Full Stack Developer</a></button>
        {{!-- <a href="/jobs/new/fullStackDev"><button class="scraper-button">Full Stack Developer</button></a> --}}
        <button class="scraper-button"><a href="/jobs/new/frontEndDev">Front End Developer</a></button>
        <button class="scraper-button"><a href="/jobs/new/backEndDev">Back End Developer</a></button>
        <button class="scraper-button"><a href="/jobs/new/webDev">Web Developer</a></button>
        <button class="scraper-button"><a href="/jobs/new/uIuXDev">UI/UX Developer</a></button>
    </div>
</div>

{{!-- job search results --}}
    {{!-- Full Stack Developer --}}
<div class="job-results-container">
    <h2 class="positions-heading">Full Stack Developer Positions</h2>
    <div class="job-cards-container">
        {{#each postings}}
            {{#if this.isFullStackDev}}
                {{#if this.isSaved}}
                {{else}}
                    {{> jobs/job-block}}
                {{/if}}    
            {{/if}}
        {{/each}}
    </div>
    
</div>
    {{!-- Front End Developer --}}
<div class="job-results-container">
    <h2 class="positions-heading">Front End Developer Positions</h2>
    <div class="job-cards-container">
        {{#each postings}}
            {{#if this.isFrontEndDev}}
                {{#if this.isSaved}}
                {{else}}
                    {{> jobs/job-block}}
                {{/if}}    
            {{/if}}
        {{/each}}
    </div>
    
</div>
    {{!-- Back End Developer --}}
<div class="job-results-container">
    <h2 class="positions-heading">Back End Developer Positions</h2>
    <div class="job-cards-container">
        {{#each postings}}
            {{#if this.isBackEndDev}}
                {{#if this.isSaved}}
                {{else}}
                    {{> jobs/job-block}}
                {{/if}}    
            {{/if}}
        {{/each}}
    </div>
    
</div>
    {{!-- Web Developer --}}
<div class="job-results-container">
    <h2 class="positions-heading">Web Developer Positions</h2>
    <div class="job-cards-container">
        {{#each postings}}
            {{#if this.isWebDev}}
                {{#if this.isSaved}}
                {{else}}
                    {{> jobs/job-block}}
                {{/if}}    
            {{/if}}
        {{/each}}
    </div>
    
</div>
    {{!-- UI/UX Developer --}}
<div class="job-results-container">
    <h2 class="positions-heading">UI/UX Developer Positions</h2>
    <div class="job-cards-container">
        {{#each postings}}
            {{#if this.isUiUxDev}}
                {{#if this.isSaved}}
                {{else}}
                    {{> jobs/job-block}}
                {{/if}}    
            {{/if}}
        {{/each}}
    </div>
    
</div>


    
